{% extends "base_crm.html" %}

{% block content %}
{% load static %}

{% if feadback_list and periods and client_list %}
    <div class="w3-main w3-padding-24 w3-content" style="max-width:90%">
        <div class="w3-row-padding">
            <div class="w3-col s3 w3-animate-left">
                <div class="w3-card-4">
                    {% include 'feadback.html' %}
                </div>
            </div>
        
            <div class="w3-col s5 w3-animate-opacity">
                <div class="w3-card-4">
                    {% include 'event.html' %}
                </div>      
            </div>

            <div class="w3-col s4 w3-animate-right">
                <div class="w3-card-4">
                    {% include 'task.html' %}
                </div>
            </div>
        </div>  
    </div>

{% endif %}

<div class="w3-conteiner" id="calendar">
    <br><br><br>
    <div class="w3-cell-row">
        <div class="w3-cell w3-display-container" style="width:10%">
            <button class="w3-display-middle w3-button w3-animate-zoom w3-text-theme w3-hover-theme-d2 w3-padding-32" id="prev_week"><i class="w3-xxxlarge fa fa-chevron-left" aria-hidden="true"></i></button>
        </div>
        <div class="w3-cell w3-content w3-card-4 w3-animate-opacity" id="week_calendar" style="max-width:80%">
            {% include 'week_calendar.html' %}
        </div>
        <div class="w3-cell w3-display-container" style="width:10%">
            <button class="w3-display-middle w3-button w3-animate-zoom w3-text-theme w3-hover-theme-d2 w3-padding-32" id="next_week"><i class="w3-xxxlarge fa fa-chevron-right" aria-hidden="true"></i></button>
        </div>
    </div>
</div>

<br><br>

<div class="w3-conteiner" id="clients">
    <br><br><br>
    <div class="w3-content w3-card-4 w3-animate-opacity" id="week_calendar" style="max-width:80%">
        {% include 'client.html' %}
    </div>
</div>

<br><br><br>

<script type="text/javascript">
    $(document).ready(function () {
        $(document).on("click", "#prev_week", function() {
            var url = "/crm/change_week_calendar/";
            var go_to_week = "prev";
            var start_date = $("#start_date").attr("start_date");
            console.log(start_date);
            $.ajax({
                type: 'POST',
                async: true,
                url: url,
                data: {'go_to_week': go_to_week,
                       'start_date': start_date,
                       'csrfmiddlewaretoken': '{{csrf_token}}'
                        },
                success: function(data) {
                    $('#week_calendar').html(data);
                },
                datatype: 'json',
            });
        });
        $(document).on("click", "#next_week", function() {
            var url = "/crm/change_week_calendar/";
            var go_to_week = "next";
            var start_date = $("#start_date").attr("start_date");
            console.log(start_date);
            $.ajax({
                type: 'POST',
                async: true,
                url: url,
                data: {'go_to_week': go_to_week,
                       'start_date': start_date,
                       'csrfmiddlewaretoken': '{{csrf_token}}'
                        },
                success: function(data) {
                    $('#week_calendar').html(data);
                },
                datatype: 'json',
            });
        });
    });
</script>

{% endblock %}

