{% extends "base_crm.html" %}

{% block content %}
{% load static %}


<div class="w3-padding-24 w3-container" id="clients">

    <div class="w3-content w3-card-4 w3-animate-opacity" style="max-width:80%">
        {% if client_list %}
            <ul class="w3-ul">
                <li class="w3-red w3-large">Список клиентов</li>
                <li class="w3-input">
                    <form class="w3-cell-row  w3-border w3-round-large" id="search_form" method="post">{% csrf_token %}
                        <a class="w3-cell" style="padding-left:10px">{{serch_client_form.search}}</a>
                        <a class="w3-cell w3-conteiner w3-center" style="cursor:pointer"><i id="search_client_icon" class="fa fa-search w3-text-red " aria-hidden="true"></i></a>
                    </form>
                </li>
            </ul>
            <ul class="w3-ul" id="clients_list" style="height: 65vh; overflow: auto;">
                {% include 'crm_clients/clients_list_ajax.html' %}
            </ul>
        {% endif %}
    </div>
</div>

{% endblock %}
