{% extends "base_crm.html" %}

{% block content %}
{% load static %}
{% load i18n %}


<br>


<!-- {% if event_list %}
    <div>История процедур</div>
    {% for event in event_list %}
        {% if event.status == "successful" %}
            <a href="{% url 'dgcrm:detailed_client' client.id %}">{{ event.detailed_service }}</a>
            <br>
        {% endif %}
    {% endfor %}
{% endif %}

{% if result_list %}
    <div>История результатов</div>
    {% for result in result_list %}
        <a href="{% url 'dgcrm:detailed_client' client.id %}">{{ result }}</a>
        <br>
    {% endfor %}
{% endif %}
<br>
<br> -->
<!-- <form method="post">{% csrf_token %}
{{ event_form }}
<input type="submit" name="submit" value="event">
</form> -->

{% include 'client_card.html' %}

{% endblock %}
