<!-- {% for event in event_list %}
    <li>
        <a href="{% url 'dgcrm:detailed_event' event.id %}">{{ event }}</a>
    </li>
{% endfor %} -->
<li>
    <a>{{ periods.day_of_week }}, {{ periods }}</a>
</li>
{% for period in periods %}
    {% if period.event %}
        {% if period.event.status == "successful" %}
             <li class="w3-green" onclick='goTo("{% url 'dgcrm:detailed_event' period.event.id %}")' style="cursor:pointer">
                <a>{{ period.render }}</a>
                <a class="w3-right">{{ period.event.client.first }} {{ period.event.client.last }}</a>
                <br>
                <a>{{ period.event.detailed_service }}</a>
                <a class="w3-right">{{ period.event.price }} грн</a>
            </li>
        {% else %}
            <li class="w3-red" onclick='goTo("{% url 'dgcrm:detailed_event' period.event.id %}")' style="cursor:pointer">
                <a>{{ period.render }}</a>
                <a class="w3-right">{{ period.event.client.first }} {{ period.event.client.last }}</a>
                <br>
                <a>{{ period.event.detailed_service }}</a>
                <a class="w3-right">{{ period.event.price }} грн</a>
            </li>
        {% endif %}
        
    {% elif period.in_past %} 
        <li class="w3-light-grey">
            <a>{{ period.render }}</a>
        </li>
    {% else %}
        <li onclick='goTo("{% url 'dgcrm:create_event' %}?datetime={{ period.period_datetime }}")' onmouseover="document.getElementById('{{ period.period_datetime }}').style.visibility = 'visible'" onmouseout="document.getElementById('{{ period.period_datetime }}').style.visibility = 'hidden'" style="cursor:pointer">
            <a>{{ period.render }}</a>
            <a class="w3-right w3-text-red" id="{{ period.period_datetime }}"  style="visibility: hidden">Добавить
            <i class="fa fa-plus-circle w3-xlarge" aria-hidden="true"></i></a>
        </li>
    {% endif %}
    
{% endfor %}

