{% extends "base_crm.html" %}

{% block content %}
{% load static %}

<div class="w3-conteiner" id="transfer_event_calendar">
    <br><br><br>
    <div class="w3-cell-row">
        <div class="w3-cell w3-display-container" style="width:10%">
            <button class="w3-display-middle w3-button w3-animate-zoom w3-text-theme w3-hover-theme-d2 w3-padding-32" id="prev_week"><i class="w3-xxxlarge fa fa-chevron-left" aria-hidden="true"></i></button>
        </div>
        <div class="w3-cell w3-content w3-card-4 w3-animate-opacity" id="transfer_event_week_calendar" style="max-width:80%">
            {% include 'transfer_event_week_calendar.html' %}
        </div>
        <div class="w3-cell w3-display-container" style="width:10%">
            <button class="w3-display-middle w3-button w3-animate-zoom w3-text-theme w3-hover-theme-d2 w3-padding-32" id="next_week"><i class="w3-xxxlarge fa fa-chevron-right" aria-hidden="true"></i></button>
        </div>
    </div>
</div>



<script type="text/javascript">
    $(document).ready(function () {
        $(document).on("click", "#prev_week", function() {
            var url = "/crm/change_week_calendar/";
            var go_to_week = "prev";
            var start_date = $("#start_date").attr("start_date");
            var event_id = $("#start_date").attr("event_id");
            var transfer_event = true;
            console.log(start_date);
            $.ajax({
                type: 'POST',
                async: true,
                url: url,
                data: {'go_to_week': go_to_week,
                       'start_date': start_date,
                       'transfer_event': transfer_event,
                       'event_id': event_id,
                       'csrfmiddlewaretoken': '{{csrf_token}}'
                        },
                success: function(data) {
                    $('#transfer_event_week_calendar').html(data);
                },
                datatype: 'json',
            });
        });
        $(document).on("click", "#next_week", function() {
            var url = "/crm/change_week_calendar/";
            var go_to_week = "next";
            var start_date = $("#start_date").attr("start_date");
            var event_id = $("#start_date").attr("event_id");
            var transfer_event = true;
            console.log(start_date);
            $.ajax({
                type: 'POST',
                async: true,
                url: url,
                data: {'go_to_week': go_to_week,
                       'start_date': start_date,
                       'transfer_event': transfer_event,
                       'event_id': event_id,
                       'csrfmiddlewaretoken': '{{csrf_token}}'
                        },
                success: function(data) {
                    $('#transfer_event_week_calendar').html(data);
                },
                datatype: 'json',
            });
        });
    });
</script>


{% endblock %}