

    <div class="w3-row" id="start_date" start_date="{{week_periods.start_date}}">
        {% for day in week_periods %}
            <div class="w3-col " style="width:14.28%">
                <ul class="w3-ul">
                    <li class="w3-red">
                        <a>{{ day }}</a>
                        <br>
                        <a>{{ day.day_of_week }}</a>
                    </li>
                    {% for period in day %}
                        <!-- <a>{{ period }}</a> -->
                        {% if period.event %}

                            {% if period.event.status == "successful" %}

                                {% if period.start_event %}
                                    <li id="calendar_period_" class="w3-green w3-small w3-padding-small" onmouseover='showElementById("pop_up_{{ period.event.id }}")' onmouseout='hideElementById("pop_up_{{ period.event.id }}")' onclick='goTo("{% url 'dgcrm:detailed_event' period.event.id %}")' style="cursor:pointer;"> 
                                     <!-- border-bottom: 0px;  -->
                                        <a>{{ period.render }} {{ period.event.detailed_service.service.name }}</a>
                                    </li>
                                {% else %}
                                    <li class="w3-green w3-small w3-padding-small">
                                    <!-- style="border-top: 0px; border-bottom: 0px; " -->
                                        <a>{{ period.render }}</a>
                                    </li>
                                {% endif %} 

                                <div class="w3-green w3-border w3-large" id="pop_up_{{ period.event.id }}" style="display:none; position:absolute; padding: 10px;">
                                    <a>{{ period.render }}</a>
                                    <a class="w3-right">{{ period.event.client }}</a>
                                    <br>
                                    <a>{{ period.event.detailed_service }}</a>
                                    <br>
                                    <a class="w3-right">{{ period.event.price }} грн</a>
                                </div>

                            {% else %}

                                {% if period.start_event %}
                                    <li id="calendar_period_" class="w3-red w3-small w3-padding-small" onmouseover='showElementById("pop_up_{{ period.event.id }}")' onmouseout='hideElementById("pop_up_{{ period.event.id }}")' onclick='goTo("{% url 'dgcrm:detailed_event' period.event.id %}")' style="cursor:pointer;"> 
                                     <!-- border-bottom: 0px;  -->
                                        <a>{{ period.render }} {{ period.event.detailed_service.service.name }}</a>
                                    </li>
                                {% else %}
                                    <li class="w3-red w3-small w3-padding-small">
                                    <!-- style="border-top: 0px; border-bottom: 0px; " -->
                                        <a>{{ period.render }}</a>
                                    </li>
                                {% endif %} 

                                <div class="w3-red w3-border w3-large" id="pop_up_{{ period.event.id }}" style="display:none; position:absolute; padding: 10px;">
                                    <a>{{ period.render }}</a>
                                    <a class="w3-right">{{ period.event.client }}</a>
                                    <br>
                                    <a>{{ period.event.detailed_service }}</a>
                                    <br>
                                    <a class="w3-right">{{ period.event.price }} грн</a>
                                </div>

                            {% endif %} 

                        {% elif period.in_past %} 
                            <li class="w3-light-grey w3-small w3-padding-small">
                                <a>{{ period.render }}</a>
                            </li>
                        {% else %}
                            <li class="w3-small w3-padding-small" onclick='goTo("{% url 'dgcrm:create_event' %}?datetime={{ period.period_datetime }}")' onmouseover="document.getElementById('calendar_{{ period.period_datetime }}').style.visibility = 'visible'" onmouseout="document.getElementById('calendar_{{ period.period_datetime }}').style.visibility = 'hidden'" style="cursor:pointer">
                                <a>{{ period.render }}</a>
                                <a class="w3-right w3-text-red" id="calendar_{{ period.period_datetime }}"  style="visibility: hidden">Добавить
                                <i class="fa fa-plus-circle w3-large" aria-hidden="true"></i></a>
                            </li>
                        {% endif %} 

                        
                    {% endfor %}
                
                </ul>
            </div> 
        {% endfor %}
    </div>



