<div class="w3-content">
    {% if periods %}
        <ul class="w3-ul">
            <li class="w3-red w3-large">Записи</li> 
            <!-- <div class="w3-bar">
                <form method="post">{% csrf_token %}
                    <a href="#" class="w3-bar-item w3-button">На день</a>
                    <a href="#" class="w3-bar-item w3-button">На неделю</a>
                    <a href="#" class="w3-bar-item w3-button">На месяц</a>
                    <a class="w3-bar-item w3-input w3-small">{{serch_form.search}}</a>
                    <a class="w3-bar-item w3-input w3-small">{{serch_form.search}}</a>
                </form>
            </div> -->
        </ul>
        <ul class="w3-ul" style="height: 98vh; overflow: auto;">

        {% include 'crm_main/events_onday.html' %}
        
        </ul>
    {% endif %}
</div>
