{% if feadback_list %}
    {% for feadback in feadback_list %}
        <li onclick='goTo("{% url 'dgcrm:detailed_feadback' feadback.id %}")' style="cursor:pointer">
            <a>{{ feadback.first }} {{ feadback.last }}</a>
            {% if feadback.has_event %}
                <i class="fa fa-check w3-right w3-text-red" aria-hidden="true"></i>
            {% endif %}
            <br>
            <a class="w3-small">{{ feadback.tel }}</a>
            <a class="w3-small w3-right">{{ feadback.date|date:"d m Y H:i" }}</a>
            <!--<br>-->
            <!--<a class="w3-small">{{ feadback.wish }}</a>-->
        </li>
    {% endfor %}
{% else %}
    <li>
        <a>Не найдено совпадений</a>
    </li>
{% endif %}