<div class="w3-content">
    {% if feadback_list %}
        <ul class="w3-ul">
            <li class="w3-red w3-large">Очередь запросов</li> 
            <div class="w3-bar" id="feadback_bar">
                <div class="w3-bar-item w3-hover-red w3-button" id="all">Все</div>
                <div class="w3-bar-item w3-hover-red w3-button" id="to_work">В работу</div>
                <div class="w3-bar-item w3-hover-red w3-button" id="processed">Обработанные</div>
            </div>
            <li>
                <form class="w3-cell-row  w3-border w3-round-large" id="search_form" method="post">{% csrf_token %}
                    <a class="w3-cell" style="padding-left:10px">{{serch_feadback_form.search}}</a>
                    <a class="w3-cell w3-conteiner w3-center" style="cursor:pointer"><i id="search_feadback_icon" class="fa fa-search w3-text-red" aria-hidden="true"></i></a>
                </form>
            </li>
        </ul>
        <ul class="w3-ul" id="feadback_list" style="height: 30vh; overflow: auto;">
            {% include 'crm_main/feadback_list_ajax.html' %}
        </ul>
        
    {% endif %}
</div>

