<!DOCTYPE html>
{% load static %}
<html>
<title>Светлана Владимировна - Доктор дермато-косметолог</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="{% static 'main/img/lips_icon.png' %}" type="image/x-icon">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Jura|Open+Sans+Condensed:300" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="{% static 'main/css/w3.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/w3-colors-food.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/w3-theme-red.css' %}">


<link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">

<script src="{% static 'main/libs/jquery-1.11.2.min.js' %}"></script>

<body>
<!-- First Parallax Image with Logo Text -->


<!-- Icon Bar (Sidebar - hidden on small screens) -->
<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center w3-text-red">
  <!-- Avatar image in top left corner -->
  <!-- <div class="w3-content w3-display-container w3-white">
    <img class="w3-opacity-min" src="{% static 'main/img/avatar.jpg' %}" style="width:100%">
  </div> -->
  <a href="/#" class="w3-bar-item w3-button w3-padding-6 w3-hover-theme-d2">
    <i class="fa fa-home w3-xxlarge "></i>
    <p>ГЛАВНАЯ</p>
  </a>
  <a href="/#about" class="w3-bar-item w3-button w3-padding-6 w3-hover-theme-d2">
    <i class="fa fa-user w3-xxlarge"></i>
    <p>ОБО МНЕ</p>
  </a>
  <a href="/#photos" class="w3-bar-item w3-button w3-padding-6 w3-hover-theme-d2">
    <i class="fa fa-eye w3-xxlarge"></i>
    <p>РАБОТЫ</p>
  </a>
  <a href="/#price" class="w3-bar-item w3-button w3-padding-6 w3-hover-theme-d2">
    <i class="fa fa-money w3-xxlarge"></i>
    <p>ПРАЙС</p>
  </a>
  <a href="/#contact" class="w3-bar-item w3-button w3-padding-6 w3-hover-theme-d2">
    <i class="fa fa-envelope w3-xxlarge"></i>
    <p>ЗАПИСЬ</p>
  </a>
  <a href="/#location" class="w3-bar-item w3-button w3-padding-6 w3-hover-theme-d2">
    <i class="fa fa-map-marker w3-xxlarge"></i>
    <p>КОНТАКТЫ</p>
  </a>
  <a href="/#review" class="w3-bar-item w3-button w3-padding-6 w3-hover-theme-d2">
    <i class="fa fa-comments-o w3-xxlarge"></i>
    <p>ОТЗЫВЫ</p>
  </a>
</nav>




{% block content %}
{% endblock %}
    


<!-- Navbar on small screens (Hidden on medium and large screens) -->
<div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
  <div class="w3-bar w3-theme w3-center w3-large">
    <a href="#" class="w3-bar-item w3-button w3-hover-theme-d2" style="width:20% !important">ГЛАВНАЯ</a>
    <!-- <a href="#about" class="w3-bar-item w3-button w3-hover-theme-d2" style="width:20% !important">ПРО МЕНЯ</a> -->
    <a href="#photos" class="w3-bar-item w3-button w3-hover-theme-d2" style="width:20% !important">РАБОТЫ</a>
    <a href="#price" class="w3-bar-item w3-button w3-hover-theme-d2" style="width:20% !important">ПРАЙС</a>
    <a href="#contact" class="w3-bar-item w3-button w3-hover-theme-d2" style="width:20% !important">ЗАПИСЬ</a>
    <a href="#location" class="w3-bar-item w3-button w3-hover-theme-d2" style="width:20% !important">КОНТАКТЫ</a>
  </div>
</div>




<!-- Footer -->
<footer class="w3-content w3-padding-8 w3-text-red w3-center w3-xlarge" style="">
  <a href="https://www.facebook.com/svetlana.kutsachenko?fref=pb&hc_location=profile_browser" target="_blank"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
  <a href="https://www.instagram.com/_dr.svetlanavladimirovna_/" target="_blank"><i class="fa fa-instagram w3-hover-opacity"></i></a>
  <a href="https://www.instagram.com/_dr.svetlanavladimirovna_/" target="_blank"><i class="fa fa-linkedin w3-hover-opacity"></i></a>
  <a href="https://www.youtube.com/watch?v=FM9B9adiqy4" target="_blank"><i class="fa fa-youtube-play w3-hover-opacity"></i></a> 
  <p class="w3-medium">Made with <i class="fa fa-heart w3-text-red w3-hover-opacity"></i> for U</a></p>
<!-- End footer -->
</footer>
</body>
</html>

