{% extends "base.html" %}

{% block content %}
{% load static %}
<!-- <div class="bgimg-1 w3-display-container" id="home">
  <div class="w3-display-middle" style="white-space:nowrap;">
  <img src="{% static 'main/img/1.jpg' %}" >
    <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">MY <span class="w3-hide-small">WEBSITE</span> LOGO</span>
  </div>
</div> -->

<!-- <div class="w3-container w3-center w3-border" style="width:100%">
  <div class="w3-display-container mySlides">
    <img src="{% static 'main/img/1.jpg' %}" >
    <div class="w3-display-topleft w3-container w3-padding-32">
      <span class="w3-white w3-padding-large w3-animate-bottom">Lorem ipsum</span>
    </div>
  </div>
  <div class="w3-display-container mySlides">
    <img src="{% static 'main/img/2.jpg' %}" style="width:100%">
    <div class="w3-display-middle w3-container w3-padding-32">
      <span class="w3-white w3-padding-large w3-animate-bottom">Klorim tipsum</span>
    </div>
  </div>
  <div class="w3-display-container mySlides">
    <img src="{% static 'main/img/3.jpg' %}" style="width:100%">
    <div class="w3-display-topright w3-container w3-padding-32">
      <span class="w3-white w3-padding-large w3-animate-bottom">Blorum pipsum</span>
    </div>
  </div> -->

  <!-- Slideshow next/previous buttons -->
<!--   <div class="w3-container w3-center w3-content w3-dark-grey w3-padding w3-xlarge " style="width:100%">
    <div class="w3-left" onclick="plusDivs(-1)"><i class="fa fa-arrow-circle-left w3-hover-text-teal"></i></div>
    <div class="w3-right" onclick="plusDivs(1)"><i class="fa fa-arrow-circle-right w3-hover-text-teal"></i></div>
  
    <div class="w3-center">
      <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
      <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
      <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
    </div>
  </div>
</div> -->
<!-- First Parallax Image with Logo Text -->

<!-- Page Content -->
<!-- <div class="w3-padding" >
 -->  <!-- Header/Home -->

<div class="main w3-padding-32 w3-center" id="home">
  
  <h1 class="w3-jumbo"><span class="w3-hide-small"></span>_dr.svetlanavladimirovna_</h1>
  <div class="w3-content w3-padding-32">
    <img class="w3-animate-zoom " src="{% static 'main/img/lips_icon.svg' %}" style="width:50%;">
  </div>
  <p>ДЕРМАТОЛОГ|КОСМЕТОЛОГ|СПЕЦИАЛИСТ ПО ЛАЗЕРНЫМ МЕТОДИКАМ |ЧЛЕН EADV</p>
  <br>
  <br>
  
</div>
<!-- <div class="main w3-justify w3-display-container " id="about" style="height:400px;background-image: url('{% static 'main/img/background.jpg' %}');opacity: 0.9">
  <div class="w3-display-middle">
    <h2 class="w3-red w3-text-black w3-padding-large">Обо мне</h2>
  </div>
</div> -->

<!-- About Section -->
<div class="main w3-justify w3-padding-16" id="about">
  <div class="w3-content">
    <h2 class="">Обо мне</h2>
    <hr style="width:200px" class="w3-opacity">
    <p class="w3-text-black">Some text about me. Some text about me. I am lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
      ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
    <h3 class="w3-padding-8">Специализация</h3>
    <p class="w3-wide">Дерматология</p>
    <!-- <div class="w3-white">
      <div class="w3-theme" style="height:28px;width:80%"></div>
    </div> -->
    <p class="w3-wide">Лечение волос</p>
    <!-- <div class="w3-white">
      <div class="w3-theme" style="height:28px;width:80%"></div>
    </div> -->
    <p class="w3-wide">Инъекционные процедуры</p>
    <!-- <div class="w3-white">
      <div class="w3-theme" style="height:28px;width:100%"></div>
    </div> -->
    <p class="w3-wide">Контурная пластика</p>
    <!-- <div class="w3-white">
      <div class="w3-theme" style="height:28px;width:100%"></div>
    </div> -->
    <p class="w3-wide">Лазерная терапия</p>
    <!-- <div class="w3-white">
      <div class="w3-theme" style="height:28px;width:80%"></div>
    </div> -->
    <br>

    <div class="w3-row w3-center w3-padding-4 w3-section w3-theme-d2 w3-opacity-min w3-round-xlarge w3-text-white">
      <div class="w3-quarter w3-section">
        <span class="w3-large">5+</span><br>
        Опыт работы
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-large">7+</span><br>
        Дипломы и сертификаты
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-large">89+</span><br>
        Happy Clients
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-large">150+</span><br>
        Meetings
      </div>
    </div>    
    <br>
    <br>
    <br>
    <br>
  <!-- End About Section -->
  </div>
</div>
  <!-- Portfolio Section -->
<div class="main w3-padding-16 w3-small w3-hide-small" id="photos">
  <div class="w3-content">
    <h2 class="">Работы</h2>
    <hr style="width:200px" class="w3-opacity">
  </div>
  
  <!-- Grid for photos -->
  <div class="w3-hide-small w3-hide-medium" id="works">
    {% include 'portfolio.html' %}
  <!-- End photo grid -->
  </div>
  
<!-- End Portfolio Section -->
</div>



<!-- Price Section -->
<div class="main w3-padding-16" id="price">
  
  <div class="w3-content">
  <h2>Цены</h2>
  <hr style="width:200px" class="w3-opacity">
  </div>
  <!-- Grid for pricing tables -->
  <div class="w3-content w3-center w3-row-padding">

    {% include 'services.html' %}

    
    
    <!-- End Grid/Pricing tables -->
  </div>
<!-- End Price Section -->
</div>

<!-- Contact Section -->
<div class="main w3-padding-16" id="contact">
  <div class="w3-content">
    <h2>Запись</h2>  
    <hr style="width:200px" class="w3-opacity">
  </div>
  <form class="w3-content w3-card" method="post">{% csrf_token %}
    <div class="w3-row-padding">
      <div class="w3-col w3-padding" style="width:100%">
        <h3 class="w3-padding-8">Оставте Ваши контакты, чтобы я могла связаться с вами:</h3>
      </div>
    </div>
    <div class="w3-container">
      <div class="w3-row">
        <div class="w3-content w3-half">
        <div class="w3-col" style="width:50px">
          <i class="w3-xlarge fa fa-user w3-text-red w3-padding"></i>
        </div>
        <div class="w3-rest">
          {{ feadback_form.first }}
        </div>
        </div>
        <div class="w3-content w3-half">
        <div class="w3-col" style="width:50px">
          <i class="w3-xlarge fa fa-user w3-text-red w3-padding"></i>
        </div>
        <div class="w3-rest">
          {{ feadback_form.last }}
        </div>
        </div>
      </div>

      <div class="w3-row">
        <div class="w3-content w3-half">
        <div class="w3-col" style="width:50px">
          <i class="w3-xlarge fa fa-phone w3-text-red w3-padding"></i>
        </div>
        <div class="w3-rest">
          {{ feadback_form.tel }}
        </div>
        </div>
        <div class="w3-content w3-half">
        <div class="w3-col" style="width:50px">
          <i class="w3-xlarge fa fa-envelope-o w3-text-red w3-padding"></i>
        </div>
        <div class="w3-rest">
          {{ feadback_form.email }}
        </div>
        </div>
      </div>

      <div class="w3-row">
        <div class="w3-content">
          <div class="w3-col" style="width:50px">
            <i class="w3-xlarge fa fa-pencil w3-text-red w3-padding"></i>
          </div>
          <div class="w3-rest" >
            {{ feadback_form.wish }}
          </div>
        </div>
      </div>
    </div>
    <div class="w3-row">
      <div class="w3-content">
        <div class="w3-col w3-padding-16" style="width:100%; margin-left: 30px;">
          <button class="w3-button w3-theme w3-hover-theme-d2 w3-padding-large w3-round-large" type="submit" name="submit" value="feadback">
          <i class="fa fa-paper-plane"></i> Обратная связь
          </button>
        </div>
      </div>
    </div>
    <!-- <p><input class="w3-input w3-padding-16" type="text" placeholder="Имя" name="first"></p>
    <p><input class="w3-input w3-padding-16" type="text" placeholder="Фамилия" name="last"></p>
    <p><input class="w3-input w3-padding-16" type="text" placeholder="Мобильный" name="tel"></p>
    <p><input class="w3-input w3-padding-16" type="text" placeholder="Пожелания" name="wish"></p>
    <p><input class="w3-input w3-padding-16" type="text" placeholder="Email" name="email"></p> -->
    <!-- <p>
      <button class="w3-button w3-theme w3-hover-theme-d2 w3-padding-large" type="submit">
        <i class="fa fa-paper-plane"></i> Обратная связь
      </button>
    </p> -->
  </form>
<!-- End Contact Section -->
</div>

<!-- Location Section -->
<div class="main w3-padding-16" id="location">
  <div class="w3-content">
    <h2 class="">Контакты</h2>
    <hr style="width:200px" class="w3-opacity">
    
    <div class="w3-row-padding">
      <div class="w3-third"><i class="fa fa-map-marker fa-fw w3-text-red w3-xxlarge w3-margin-right"></i><a href="https://www.google.com.ua/maps/place/вулиця+Велика+Васильківська,+89,+Київ,+02000/" target="_blank"> Киев, Большая Васильковская 89, Украина</a></div>
      <div class="w3-third"><i class="fa fa-phone fa-fw w3-text-red w3-xxlarge w3-margin-right"></i> Мобильный: +38 093 669 35 65</div>
      <div class="w3-third"><i class="fa fa-envelope fa-fw w3-text-red w3-xxlarge w3-margin-right"> </i> Email: svetlanakutsachenko@gmail.com</div>
      
    </div>
    <!-- Google Map -->
    <div id="googleMap" style="width:100%;height:400px;margin:36px 0;"></div>
    <br>
  </div>
<!-- End Location Section -->
</div>
<!-- Reviews Section-->
<div class="main w3-padding-16" id="review">
  <div class="w3-content">
    <h2 class="">Отзывы</h2>
    <hr style="width:200px" class="w3-opacity">
    <div class="w3-content" id="reviews">
    {% include 'reviews.html' %}
    </div>
    <div class="w3-padding-8">
      <button class="w3-button w3-theme w3-hover-theme-d2 w3-padding-large w3-round-large" onclick="document.getElementById('id01').style.display='block'" style="font-weight:900;">Оставить отзыв</button>
    </div>
  </div>
</div>
  <!-- Modal -->
  <div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-2 w3-animate-top">
      <div class="w3-display-container w3-padding-16 w3-xlarge w3-theme"><div class="w3-container">Напишите свой отзыв</div>
        <span onclick="document.getElementById('id01').style.display='none'"
        class="w3-button w3-display-right w3-large w3-hover-red">×</span>
      </div>
      <form class="w3-content w3-card" method="post">{% csrf_token %}
    <!-- <div class="w3-row-padding">
      <div class="w3-col w3-padding" style="width:100%">
        <h3 class="w3-padding-8">Оставте Ваш отзыв, чтобы </h3>
      </div>
    </div> -->
    <br>
    <div class="w3-container">
      <div class="w3-row">
        <div class="w3-content">
          <div class="w3-col" style="width:50px">
            <i class="w3-xlarge fa fa-user w3-text-red w3-padding"></i>
          </div>
          <div class="w3-rest" placeholder="Ваше имя">
            {{ review_form.name }}
          </div>
        </div>
      </div>

      <div class="w3-row">
        <div class="w3-content">
          <div class="w3-col" style="width:50px">
            <i class="w3-xlarge fa fa-pencil w3-text-red w3-padding"></i>
          </div>
          <div class="w3-rest" placeholder="Отзыв">
            {{ review_form.review }}
          </div>
        </div>
      </div>
    </div>

    <div class="w3-row">
      <div class="w3-content">
        <div class="w3-col w3-padding-16" style="width:100%; margin-left: 30px;">
          <button class="w3-button w3-theme w3-hover-theme-d2 w3-padding-large w3-round-large" type="submit" name="submit" value="review">
          <i class="fa fa-paper-plane"></i> Отзыв
          </button>
        </div>
      </div>
    </div>
    <!-- <p><input class="w3-input w3-padding-16" type="text" placeholder="Имя" name="first"></p>
    <p><input class="w3-input w3-padding-16" type="text" placeholder="Фамилия" name="last"></p>
    <p><input class="w3-input w3-padding-16" type="text" placeholder="Мобильный" name="tel"></p>
    <p><input class="w3-input w3-padding-16" type="text" placeholder="Пожелания" name="wish"></p>
    <p><input class="w3-input w3-padding-16" type="text" placeholder="Email" name="email"></p> -->
    <!-- <p>
      <button class="w3-button w3-theme w3-hover-theme-d2 w3-padding-large" type="submit">
        <i class="fa fa-paper-plane"></i> Обратная связь
      </button>
    </p> -->
  </form>
    </div>
  </div>
</div>
<!-- </div> -->



<!-- Add Google Maps -->
<script>
function myMap()
{
  myCenter=new google.maps.LatLng(50.424683, 30.518578);
  var mapOptions= {
    center:myCenter,
    zoom:13, scrollwheel: true, draggable: true,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  var map=new google.maps.Map(document.getElementById("googleMap"),mapOptions);

  var marker = new google.maps.Marker({
    position: myCenter,
  });
  marker.setMap(map);
}
</script>



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEXGt4lsFEHXIDdMXe60C-SbNW3jpQmEI&callback=myMap"></script>
<!--
To use this code on your website, get a free API key from Google.
Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp
-->




{% endblock %}

